.breadcrumb
  = params[:folder]
.recipient
  - @messages.each do |user, threads|
    - new = ThreadStatus.instance.new_messages_for_address?(user, threads.map {|x| x[0]})
    %div{:class => (new ? "new" : "old") }
      %a{:href => "./#{user}/"}
        - if @addresses.has_key? user
          = @addresses[user]['label']
        - else
          = user
      \- Last Updated:
      = Time.at(MessageStore.instance.address_last_updates[user]).to_datetime
      \-
      %a{:href => "/messages/compose/?to=#{CGI.escape(user)}"}
        [send]