.breadcrumb
  %a{:href => "/#{params[:folder]}/"}
    = params[:folder]
  >
  %a{:href => "./" }
    - if @addresses.has_key? @address
      = @addresses[@address]['label']
    - else
      = @address
  \-
  &= @thread
- @messages.each do |message|
  %div{:class => (message['_source'] == 'sent' ? "message sent" : "message")}

    - message_time = Message.time(message)
    - new = message_time > @thread_last_visited
    %div{:class => (new ? "new" : "old")}
      - if @addresses.has_key? message['fromAddress']
        = @addresses[message['fromAddress']]['label']
      - else
        = message['fromAddress']

      \- #{Message.sent_or_received(message)}
      = Time.at(message_time).to_datetime
    - body = message['message']
    - body = body.split("\n").map { |line| line.strip}.select{|line| line != ""}
    - body.each do |paragraph|
      - if paragraph == "------------------------------------------------------"
        %p
          %i
            [Hiding Quoted Text]
        - break
      - else
        %p
          &= paragraph

    - if @folder == "chans"
      %form.button{:method => :get, :action => "/messages/compose/"}
        %input{:type => :hidden, :name => :to, :value => @address}
        %input{:type => :hidden, :name => :subject, :value => @thread}
        %input{:type => :hidden, :name => :reply_to, :value => message['msgid']}
        %input.small_button{:type => :submit, :value => "Reply Chan"}
    &nbsp;
    - if @folder != "chans" || (@address != message['fromAddress'])
      %form.button{:method => :get, :action => "/messages/compose/" }
        %input{:type => :hidden, :name => :to, :value => message['fromAddress']}
        %input{:type => :hidden, :name => :subject, :value => @thread}
        %input{:type => :hidden, :name => :reply_to, :value => message['msgid']}
        %input.small_button{:type => :submit, :value => "Reply"}
    %form.button{:method => :post, :action => "/messages/delete/", :onsubmit => "return confirm('Really delete?')"}
      %input{:type => :hidden, :name => :msgid, :value => message['msgid']}
      %input.small_button{:type => :submit, :value => "Delete"}
    .clear