.recipient
  %h2
    - if @addresses.has_key? @address
      = @addresses[@address]['label']
    - else
      = @address
    \-
    = @thread
  .thread
    - @messages.each do |message|
      %div{:class => (message['_source'] == 'sent' ? "message sent" : "message")}
        %h4
          - if @addresses.has_key? message['fromAddress']
            = @addresses[message['fromAddress']]['label']
          - else
            = message['fromAddress']
        - body = message['message']
        - body = body.split("\n").map { |line| line.strip}.select{|line| line != ""}
        - body.each do |paragraph|
          - if paragraph == "------------------------------------------------------"
            %p
              Show Quoted Text
            - break
          - else
            %p= paragraph