.breadcrumb
  %a{:href => "/#{params[:folder]}/"}
    = params[:folder]
  >
  %a{:href => "./" }
    - address_minus_broadcast = @address.sub(/^\[Broadcast subscribers\] /, '')
    - if @addresses.has_key? address_minus_broadcast
      = @addresses[address_minus_broadcast]['label']
    - else
      = @address
  \-
  - if @subject == " "
    (No Subject)
  - else
    &= @subject
- @messages.each do |message|
  - @message = message
  = haml(:message)