.breadcrumb
  %a{:href => "/#{params[:folder]}/"}
    = params[:folder]
  >
  %a{:href => "./" }
    - if @addresses.has_key? @address
      = @addresses[@address]['label']
    - else
      = @address
  \-
  &= @thread
- @threaded_messages.children.each do |threaded_message|
  - @message = threaded_message
  = haml :message